body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.new-project-box, .project-boxes {
    background-color: #d3d3d3;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5em;
}

.new-project-box p, .project-boxes p {
    margin: 10px 0px 10px 25px;
}

.project-boxes {
    margin-bottom: 15px;
}

#index-row{
    margin-top: 30px;
}

#main-body-content{
    margin-left: 50px;
    margin-right: 50px;
}

.form-box {
    width:auto;
    background-color: #979797;
    border: 1px solid black;
    border-top: none;
    margin: 0px 10px 0px 10px;
}

.add-top-padding-20{
    padding-top: 20px;
}

.do-not-display {
    display: none;
}
