@{
    ViewBag.Title = "About";
}

<div class="container">

    <div id="project-one" class="col-md-6 project-boxes">

        <p>Project One</p>

    </div>

    <div id="project-two" class="col-md-6 project-boxes">

        <p>Project Two</p>

    </div>

    <div id="project-three" class="col-md-6 project-boxes">

        <p>Project Three</p>

    </div>

    <div id="project-four" class="col-md-6 project-boxes">

        <p>Project Four</p>

    </div>

    <div id="project-five" class="col-md-6 project-boxes">

        <p>Project Five</p>

    </div>
    
    <ul class="project-boxes col-md-6">

        <li>Hello</li>
        <ul><li>Hello Two</li>></ul>

    </ul>

</div>